body {
  margin: 0 auto;
  background-color: #fff;
}

.first {
  width: 50%;
  float: left;
  /*display: inline-block;*/

}

.restaurant-banner-gusto501 img {
  display:block }

.restaurant-banner-gusto501 {
    background-image: url(../images/gusto-501.jpg);
    width: 100%;
    padding-top: 160px;
    padding-bottom: 160px;
  }

.restaurant-banner-gusto501 h1 {
  color:#ffffff;
}

.restaurant-banner-robosushi img {
  display:block }

.restaurant-banner-robosushi {
    background-image: url("../images/robo-sushi.jpg");
    width: 100%;
    padding-top: 160px;
    padding-bottom: 160px;
  }

.restaurant-banner-robosushi h1 {
  color:#ffffff;
}

.restaurant-banner-onoir img {
  display:block }

.restaurant-banner-onoir {
    background-image: url("../images/onoir.jpg");
    width: 100%;
    padding-top: 160px;
    padding-bottom: 160px;
  }

.restaurant-banner-onoir h1 {
  color:#ffffff;
}

.restaurant-banner-mustafa img {
  display:block }

.restaurant-banner-mustafa {
    background-image: url("../images/mustafa.jpg");
    width: 100%;
    padding-top: 160px;
    padding-bottom: 160px;
  }

.restaurant-banner-mustafa h1 {
  color:#ffffff;
}

.restaurant-banner-fisherman img {
  display:block }

.restaurant-banner-fisherman {
    background-image: url("../images/fishman-lobster-clubhouse.jpg");
    width: 100%;
    padding-top: 160px;
    padding-bottom: 160px;
  }

.restaurant-banner-fisherman h1 {
  color:#ffffff;
}

.restaurant-banner-barraval img {
  display:block }

.restaurant-banner-barraval {
    background-image: url("../images/bar-raval.jpg");
    width: 100%;
    padding-top: 160px;
    padding-bottom: 160px;
  }

.restaurant-banner-barraval h1 {
  color:#ffffff;
}

.restaurant-banner-famiglia img {
  display:block }

.restaurant-banner-famiglia {
    background-image: url("../images/famiglia-baldassarre.jpeg");
    width: 100%;
    padding-top: 160px;
    padding-bottom: 160px;
  }

.restaurant-banner-famiglia h1 {
  color:#ffffff;
}

.restaurant-banner-360 img {
  display:block }

.restaurant-banner-360 {
    background-image: url("../images/360-restaurant.jpg");
    width: 100%;
    padding-top: 160px;
    padding-bottom: 160px;
  }

.restaurant-banner-360 h1 {
  color:#ffffff;
}

.image-block {
  width: 100%;
  height: 70px;
  background: #66232c;
  margin-bottom:60px;
}

.image-block {
  text-align: center;
}

.second {
  width: 50%;
  float: right;
  /*display: inline-block;*/

}

.column-container-2 {
  max-width:1024px; margin:0 auto;
}

.restaurant-paragraph {
  padding-right: 20px;
  padding-bottom: 20px;

}

.restaurant-paragraph-2 {
  padding-bottom: 20px;
  padding-left: 40px;
}

.second h2 {
  padding-left: 40px
}
h2 {padding-top:30px; padding-bottom:20px;}

h1 {
  text-align: center
}
.first {
  border-top:#666666 solid 1px;
  border-bottom:#666666 solid 1px;
}

.restaurant-banner {
   background-color: rgba(0,0,0,40)
}

.clearfix {
  clear: both;
}
.restaurant-map {  
  text-align: center;
  max-width: 100%;
  margin-left: 5%;
  width: 80%;
}

iframe {
  width: 1000px;
  height: 450px;
}

.rating {
  margin-top: 0px;
}

.stars p {
  color: #ffffff;
}

