body {
  width: 100%;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(images/background.jpg);
  margin: 0;
}
  
.container {
  /*padding: 50px 0;*/
  margin: 30px auto;
  width: 1140px;
  display:block;
}
  
h1 {
  position: relative;
  margin-bottom: 45px;
  font-family: 'roboto', sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  color: #424242;
}
  
.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}
  
  .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
  }
  .item:hover {
    flex: 7;
  }
  
  .item-1 { 
    background-image: url('../FS1000-Group5/images/360-restaurant.jpg')
  }
  
  .item-2 { 
    background-image: url('../FS1000-Group5/images/famiglia-baldassarre.jpeg');
  }
  
  .item-3 { 
    background-image: url('../FS1000-Group5/images/onoir.jpg');
  }
  
  .item-4 { 
    background-image: url('../FS1000-Group5/images/fishman-lobster-clubhouse.jpg');
  }
  
  .item-5 { 
    background-image: url('../FS1000-Group5/images/bar-raval.jpg');
  }
  

  .visuallyhidden { 
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
  }
  
  .wrapper{
    width: 80%;
    margin: 0 auto;
    display:none;
  }
  form{
    width: 100%;
    text-align: center;
  }
  input[type="email"],
  input[type="text"]{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding-left:10px;
    text-transform: capitalize;
    border: none;
  }
  
  fieldset{
    width: 48%;
    float: left;
    margin: 0px;
    padding: 0px;
    text-align: left;
  }
  
  .fullName{
    margin-right: 4%;
  }
  
  fieldset, input[type="text"]{
    border: none;
  }
  
  .container a{
    color: #fff;
    border: none;
    background: #66232c;
    padding: 5px 10px;
    text-decoration : none;
    
  }
  
  
  label, span{
    position: relative;
  }
  
  span{
    top: -50px;
    left: 10px;
  }
  
  .activeInput,
  input[type="email"]:hover +label > span,
  input[type="email"]:focus +label > span,
  input[type="text"]:hover +label > span,
  input[type="text"]:focus +label > span{
    top: -90px;
    left: 0px;
  }