.header {
    background-color: #f0c030;    
    height: 80px;
    width: 100%;
    position: relative;
}

.logo{
  display: inline-block;
  height: 70px;
  width: 115px;
  margin-left: 20px;
  filter: drop-shadow(5px 5px 5px #222);

}


nav{
  float:right;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 0%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

nav li {
    list-style: none;
    float: left;
    margin-left: 50px;
}

nav a {
   text-transform: uppercase;
    text-decoration: none;
    color: #313131;
    font-size: 1rem;
    padding: 10px;
    font-family: Roboto;

 }

nav a:hover {
  color: #66232c;
}

.footer {
  width: 100%;
  height: 25px;
  background: #f0c030;
  text-align: center;
  padding: 10px 0px;
  bottom: 0;
}

.responsive-menu
{
    display:none;
}

.show
{
    display:inline-block;
}