/*Submit & Admin ===========================================*/
* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
.container .form .form-header .form-title {
    font-weight: normal;
    font-family: sans-serif;
    color:#f0c030;
    text-align: center;
    padding: 14px 0 ;
}

.container .form .form-header .form-title span {
    color: #fff;
}
.container .form {
    background: rgb(0,0,0,.6);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
}

.container .form .form-label {
    display: block;
    color: #f0c030 ;
    font-size: 16px;
    font-family: Roboto;
    position: relative;
}
.container .form .form-input, .form-textarea {
background: rgba(0,0, 0,.7);
border: none;
outline: none;
border-bottom: 2px solid #f0c030;
width: 100%;
padding: 12px;
margin-bottom: 20px;
border-radius: 2px;
font-size: 14px;
color: #fff;
font-family: Roboto;

}
.container .form .form-textarea{
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}
.container .form .btn-submit{
    width: 100%;
    font-family: Roboto;
    outline: none;
    background:#f0c030 ;
    font-size: 16px;
    border: none;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease ;
}

.container .form .btn-submit:hover{
     background: #F29718;
}

.section{
    width: 600px;
    margin: auto;
    font-size: 30px;
    color:#fff;
    text-align: justify;
    height: 0;
    overflow: hidden;
    
}
.section:target{
    height: auto;
}
.name{
    display: block;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: #66232c;
}

/*home================================*/
body {
    width: 100%;
    height: 100%;
    background: #f0c030;;
    margin: 0;
  }

  body.home {
    width: 100%;
    height: 100%;
    background: #f0c030;
    margin: 0;
  }  

      /*Carousel starts here*/
          * {box-sizing: border-box;}
          .mySlides {display: none;}
          img {vertical-align: middle;}
          
          /* Banner heading */
          .banner-top{
          position: relative;
          margin-bottom: 45px;
          color: #66232c;
          text-align: center;
          margin-top: 5%;
          margin-bottom: 5%;
          text-transform: uppercase;
          font-size: 40px;
          font-family: 'Roboto'; 
          text-shadow: 0 0 15px white;	
        }

        /* Slideshow container */
        .slideshow-container {
          position: relative;
          margin: auto;
        }

        /* Image Opacity */
        .slideshow-container img {
          background: #cc3d3f;
          opacity: 0.7;
        }
        .slideshow-container img:hover {
              opacity: 1.0;
            }


        /* Caption text */
        .text {
          color: #fff;
          padding: 8px 12px;
          position: absolute;
          bottom: 40px;
          width: 100%;
          text-align: center;
          font-family: 'roboto', sans-serif;
          font-size: 5em;
          text-transform: uppercase;
        }

        /* The dots/bullets/indicators */
        .dot {
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #66232c;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }

        .active {
          background-color: #ededed;
        }

        /* Fading animation */
        .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
        }



        /* On smaller screens, decrease text size */
        @media only screen and (max-width: 300px) {
          .text {font-size: 11px}
        }
      /*Carousel ends here*/

        /*About Hole in the 6ix*/
          .wrapper{
            width: 80%;
            margin: 0 auto;
            display:none;
          }
            .wrapper-about{
              width: 80%;
              margin: 0 auto;
              margin-top: 5%;
              margin-bottom: 5%;
            }
            .wrapper-about h1 {
              position: relative;
              margin-bottom: 5%;
              color: #424242;
              text-align: center;
              margin-top: 5%;
            }

            .wrapper-about p {
              color: #fff;
              text-align: center;
              font-size: 1.5em;
              width: 60%;
              margin-left: 20%;
              margin-right: 20%;
            }


/*About==================================*/

.headshot{
    height: 160px;
    width: 160px;
}

.team-section{
    overflow: hidden;
    text-align: center;
    padding: 40px;
}

.team-section h1{
    text-transform: uppercase;
    margin-bottom:20px ;
    color: #66232c;
    font-size: 50px;
    font-family: 'Roboto'; 
    text-shadow: 0 0 15px white;	
	
}
.border{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: #66232c ;
    margin-bottom: 40px;

}
.ps{
    margin-bottom: 40px;
}
.ps a{
    display: inline-block;
    margin: 0 30px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    font-family: 'Roboto';
}
.ps a img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;
}
.ps a:hover > img{
    filter: none;
}
.section{
    width: 600px;
    margin: auto;
    font-size: 30px;
    color:#fff;
    text-align: center;
    height: 0;
    overflow: hidden;
    background: rgb(0,0,0,.6);
    border-radius: 3px;
    font-family: 'Roboto';
}
.section:target{
    height: auto;
}
.name{
    display: block;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: #f0c030;
}
.valueheading {
  position: relative;
  margin-bottom: 45px;
  color: #424242;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.valuep {
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.value-1 {
  width: 33%;
  float: left;
}

.value-2 {
  width: 33%;
  float: right;
}

.value-3 {
  width: 33%;
  float: right;
}

.space {
  margin-top:10%;
}

/*Restaurants================*/

.restaurant-wrapper{
    width: 80%;
    max-width: 1024px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 60px;
}

.container_res{
  width: 900px;
}

.left{
  width: 230px;
  float:left;
  position:relative;
  margin-left: 10px;
  margin-top: 15px;
}

.right{
  float:right;
  width: 650px;
}

.allrestaurants, .mediterranean, .seafood, .american, .italian{
  width: 100%;
  font-size: 25px;
  background-image: linear-gradient(to bottom right, #cc3d3f, #66232c);
  color: #ededed;
  font-family: Roboto;
}

.divider{
  height: 5px; 
}

#panel, #panel, #panel {
  float:left;
  position: relative;
  z-index: 10;
  width: 300px;
  padding: 5px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

#paneltext, #paneltext, #paneltext {
  width:300px;
  font-size: 24px;
  text-align: center;
  color: #ededed;
  position: absolute;
  z-index: 51;
  bottom:25px;
  background-color: rgba(49,49,49, 0.8);
  font-family: 'Roboto';
}

.allrest{
  position: absolute;
  opacity: 1;
}

.rest1, .rest2, .rest3, .rest4{
  position: absolute;
  opacity: 0.0;
}


.thumbnail{
  filter: drop-shadow(5px 5px 5px #222);
}

/*Admin Panel================================*/
.container .hideOnStart
{
    display: none;
}

.container .form .reviewButton{
    width: 100%;
    font-family: 'Roboto';
    outline: none;
    background:#f0c030 ;
    font-size: 16px;
    border: none;
    color: #fff;
    padding: 15px 0;
    margin: 2px 0;
    cursor: pointer;
    transition: all .5s ease ;
}
.container .form .reviewButton:hover{
    background: #F29718;
}

.reviewOverlay {
    display: none;
    background: rgb(0,0,0,.6);
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
    z-index: 2; /* In case I want this to sit overtop of other elements rather than hiding them */
  }

 .reviewOverlay .title
{
    text-align: center;
    font-family: 'Roboto';
    color: #fff;
    padding: 14px 0;
}

.reviewOverlay .title span
{
    color: #f0c030;
}
.reviewOverlay .reviewContent
{
    font-family: 'Roboto';
    color: #fff;
}

.reviewOverlay .reviewContent h2
{
    color: #f0c030;
}

.reviewOverlay .reviewControl
{
    text-align: center;
    width: 100%;
}

.reviewOverlay .reviewControl .adminButton{
    font-family: 'Roboto';
    outline: none;
    background:#f0c030 ;
    font-size: 16px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all .5s ease ;
    width: 200px;
    height: 50px;
    display:inline-block;
}
.reviewOverlay .reviewControl .adminButton:hover{
    background: #F29718;
}

.container .form h2
{
    font-family: 'Roboto';
    color: #f0c030;
}

/*Header/Navbar/Footer========================*/
.header {
  background-color: #f0c030;    
  height: 80px;
  width: 100%;
  position: relative;
}

.logo{
display: inline-block;
height: 70px;
width: 115px;
margin-left: 20px;
filter: drop-shadow(5px 5px 5px #222);

}


nav{
float:right;
margin: 0;
position: absolute;
top: 50%;
right: 0%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

nav li {
  list-style: none;
  float: left;
  margin-left: 50px;
}

nav a {
 text-transform: uppercase;
  text-decoration: none;
  color: #313131;
  font-size: 1rem;
  padding: 10px;
  font-family: Roboto;

}

nav a:hover {
color: #66232c;
}

.footer {
width: 100%;
height: 25px;
background: #f0c030;
text-align: center;
padding: 10px 0px;
bottom: 0;
}

.responsive-menu
{
  display:none;
}

.show
{
  display:inline-block;
}

/*Restaurants Individual Pages================*/

.dark {
  width: 100%;
  height: 100%;
  background: linear-gradient( rgba(255, 254, 254, 0.7), rgba(255, 254, 254, 0.7) ), url(images/background.jpg);
  margin: 0;
}

.first {
  width: 50%;
  float: left;
}
        /*Gusto*/

        .restaurant-banner-gusto501 img {
          display:block }

        .restaurant-banner-gusto501 {
          background-image:url("images/gusto-501.jpg");
          width: 100%;
          padding-top: 160px;
          padding-bottom: 160px;
        }

        .restaurant-banner-gusto501 h1 {
          color:#ffffff;
          font-size: 5em;
        }

        /*Robo Sushi*/

      .restaurant-banner-robosushi img {
        display:block;
        opacity: 0.7;
      }

      .restaurant-banner-robosushi {
          background-image: url("images/robo-sushi.jpg");
          width: 100%;
          padding-top: 160px;
          padding-bottom: 160px;
        }

      .restaurant-banner-robosushi h1 {
        color: #ffffff;
        font-size: 5em;
      }

        /*ONOIR*/
        .restaurant-banner-onoir img {
          display:block }

        .restaurant-banner-onoir {
            background-image: url("images/onoir.jpg");
            width: 100%;
            padding-top: 160px;
            padding-bottom: 160px;
          }

        .restaurant-banner-onoir h1 {
          color: #313131;
          font-size: 5em;
        }

      /*Mustafa*/
      .restaurant-banner-mustafa img {
        display:block }

      .restaurant-banner-mustafa {
          background-image: url("images/mustafa.jpg");
          width: 100%;
          padding-top: 160px;
          padding-bottom: 160px;
        }

      .restaurant-banner-mustafa h1 {
        color: #ffffff;
        font-size: 5em;
      }

      /*Fisherman*/
      .restaurant-banner-fisherman img {
        display:block }

      .restaurant-banner-fisherman {
          background-image: url("images/fishman-lobster-clubhouse.jpg");
          width: 100%;
          padding-top: 160px;
          padding-bottom: 160px;
        }

      .restaurant-banner-fisherman h1 {
        color:#ffffff;
        font-size: 5em;
      }

      /*Bar Raval*/
      .restaurant-banner-barraval img {
        display:block }

      .restaurant-banner-barraval {
          background-image: url("images/bar-raval.jpg");
          width: 100%;
          padding-top: 160px;
          padding-bottom: 160px;
        }

      .restaurant-banner-barraval h1 {
        font-size: 5em;
        color:#ffffff;
      }

      /*Famiglia*/
      .restaurant-banner-famiglia img {
        display:block }

      .restaurant-banner-famiglia {
          background-image: url("../FS1000-Group5/images/famiglia-baldassarre.jpeg");
          width: 100%;
          padding-top: 160px;
          padding-bottom: 160px;
        }

      .restaurant-banner-famiglia h1 {
        font-size: 5em;
        color:#ffffff;
      }

      /*360*/
      .restaurant-banner-360 img {
        display:block }

      .restaurant-banner-360 {
          background-image: url("images/360-restaurant.jpg");
          width: 100%;
          padding-top: 160px;
          padding-bottom: 160px;
        }

      .restaurant-banner-360 h1 {
        font-size: 5em;
        color:#ffffff;
      }

.image-block {
  width: 100%;
  height: 70px;
  background: #f0c030;
  margin-bottom:60px;
}

.image-block {
  text-align: center;
}
.second {
  width: 50%;
  float: right;
}

.column-container-2 {
  max-width:1024px; margin:0 auto;
}

.restaurant-paragraph {
  padding-right: 20px;
  padding-bottom: 20px;
}

.restaurant-paragraph-2 {
  padding-bottom: 20px;
  padding-left: 40px;
}
.second h2 {
  padding-left: 40px
}
.columnheading {
  padding-top:30px; 
  padding-bottom:20px;
}
.imageheading {
  text-align: center
}
.first {
  border-top:#666666 solid 1px;
  border-bottom:#666666 solid 1px;
}

.restaurant-banner {
   background-color: rgba(0,0,0,40)
}

.clearfix {
  clear: both;
}

.restaurant-map {  
  text-align: center;
  margin-left: 5%;
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

iframe {
  width: 1000px;
  height: 450px;
}

.rating {
  margin-top: 0px;
}

.stars p {
  color: #66232c;
}